body.joao-page{
  background: linear-gradient(177deg, #2B3DDF 4.85%, rgba(43, 61, 223, 0.00) 70.15%);
  color: $text-p-dark;
  font-family: $font-body;
}

/* ----------------------------
   Intro Section
---------------------------- */
.intro {
  text-align: center;
  margin-top: 4rem;

  }
  .portrait-joao {
    width: 130%;
    max-width: 36.625rem;
    margin: 1rem 0 2rem;

  }


/* ----------------------------
   About Section (MBTI)
---------------------------- */
.about {
  text-align: center;
  padding: 3rem 2rem;
  color: $text-p-dark;
} 

/* ----------------------------
   Skills Section
---------------------------- */
.skills {
  text-align: center;
  padding: 4rem 2rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    li {
      background-color: transparent;
      font-size: $font-size-xxs;
      &.muted {
        color: $text-muted;
      }
    }
  }
}

/* ----------------------------
   Projects Section
---------------------------- */
.projects {
  padding: 4rem 2rem;
  text-align: center;

  /* h2 {
    font-family: $font-body;
    font-size: $font-size-md;
    margin-bottom: 3rem;
  } */

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0;

    li {
      padding: 1rem;
      border-radius: 10px;

      max-width: 320px;

      h3 {
        margin-top: 1rem;
      }

      p {
        font-size: 0.95rem;
        margin: 1rem 0;
      }


    }
  }
}