body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .index {
        background-color: $gradient-black-to-green;
    }
}

html {
    scroll-behavior: smooth;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0rem 3rem;
    background-color: $bg-dark;
    color: $text-light;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
   
}


