html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
}

.intro {
    animation: fadeInintro 0.8s ease-out forwards;

  }
  @keyframes fadeInintro {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
        font-family: $font-body;
        font-size: $font-size-xs;
        font-weight: 300;
        margin:0;
        
        .highlight {
        font-family: $font-heading;
        font-size: $font-size-xl;
        font-weight: 400;
        display: block;
        margin: -0.8rem 0 0;
    }


    }

h2 {
    font-family: $font-body;
    font-size: $font-size-xs;
    font-weight: 400;

    margin: 0;

    .highlight {
        font-family: $font-heading;
        font-size: $font-size-xl;
        display: block;
        margin: -0.5rem 0 0;
    }
}

h3 {
    font-family: $font-body;
    font-size: $font-size-xs;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

p {
    font-family: $font-body;
    font-size: $font-size-xs;
    font-weight: 400;
    max-width: 800px;

    strong {
        font-weight: 600;
    }
}