// Base button styles
.button-primary {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-size: $font-size-xxs;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1.6px solid;
  background-color: $primary-color;
  font-family: $font-body;

  &:hover,
  &:active {
    background-color: $bg-dark;
    border-color: $bg-dark;
    color: $text-light;
  }
}


.button-tertiary{
  border-radius: 62.4375rem;
  border: 1px solid $text-p-dark;
  background: $bg-light;
  font-family: $font-body;
  font-size: $font-size-xxxs;
  color: $text-p-dark;
  padding: 0.6rem 1.4rem;
} 


.button-secondary {
  @extend .button-primary;
  background: transparent;
  border-color: $bg-dark;
  color: $text-p-dark;

  &:hover,
  &:active {
    background-color: $bg-dark;
    color: $text-light;
  }
}

