footer {
    background-color: $bg-dark;
    color: $text-light;
    display: flex;
    padding: 2rem;
    flex-direction: column;   
    justify-content: space-between;
    align-items: top;
    text-align: center;
    gap: 3.5rem;

    @media #{$medium} {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media #{$medium} {
        align-items: flex-start;
        text-align: left;
    }   
}

.footer-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;

    @media #{$medium} {
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
    }
}
.footer-logo {
    font-family: $font-heading;
    font-size: $font-size-lg;
    color: $text-light;
    margin: 0;
}

.footer-subtitle {
    font-family: $font-body;
    font-size: $font-size-xs;
    color: $text-light;
    margin: 0;
}

.footer-note {
    font-size: 0.75rem;
    color: $text-light;
    margin: 0;
    align-content: baseline;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .contact-message{
        margin: 0;
        font-size: $font-size-xxs;
        font-weight: 400;
    }

    @media #{$medium} {
        align-items: flex-end;
    }

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media #{$medium} {
        align-items: flex-end;
    }
}

footer input[type="email"] {
  background-color: transparent; 
  color: $text-light; 
  border: 1.5px solid $text-light; 
  padding: 0.5rem 0.75rem; 
  border-radius: 0.5rem;
  width: 120%; 
  font-family: $font-body;
  font-size: 0.8rem;
}

