// Backgrounds
$primary-color: #11E32E;
$bg-dark: #0B1007;
$bg-light: #E8E8E7;
$index-bg-middle: #0D5514;
$bg-leonor: #DD133C;
$bg-joao: #2B3DDF;

// Text
$text-light: #E8E8E7;
$text-muted: #93978F;
$text-h-dark: #080C05;
$text-p-dark: #000000;
$text-subtitle: #B5DEBA;

// Fonts
$font-body: 'Poppins', sans-serif;
$font-heading: 'Rubik Broken Fax', sans-serif;

// Font Sizes
$font-size-xl: 18.75rem;
$font-size-lg: 8rem;
$font-size-md: 2rem;
$font-size-sm: 1.5rem;
$font-size-xs: 1.25rem;
$font-size-button: 1rem;
