// Backgrounds
$primary-color: #11E32E;
$bg-dark: #0B1007;
$bg-light: #E8E8E7;
$index-bg-middle: #0D5514;
$bg-leonor: #DD133C;
$bg-joao: #2B3DDF;

//Gradients
$gradient-black-to-green: linear-gradient(174deg, $bg-dark 20.68%, $index-bg-middle 38.2%, $primary-color 73.94%);
$gradient-red: linear-gradient(184deg, $bg-leonor 25.68%, rgba(221, 19, 60, 0.00) 70.6%);
$gradient-blue: linear-gradient(177deg, $bg-joao 4.85%, rgba(43, 61, 223, 0.00) 70.15%);
$gradient-black-to-white: linear-gradient(177deg, #0B1007 18%, rgba(11, 16, 7, 0.00) 65.15%);

// Text
$text-light: #E8E8E7;
$text-muted: #93978F;
$text-h-dark: #080C05;
$text-p-dark: #000000;
$text-subtitle: #B5DEBA;

// Fonts
$font-body: 'Poppins', sans-serif;
$font-heading: 'Rubik Broken Fax', sans-serif;

// Font Sizes -> mudar medidas e aplicar no css, em vez de rems diferentes todas as vezes
$font-size-xxl: 8rem;
$font-size-xl: 5.5rem;
$font-size-lg: 3rem;
$font-size-md: 2rem;
$font-size-sm: 1.5rem;
$font-size-xs: 1.25rem;
$font-size-xxs: 1rem;
$font-size-xxxs: 0.875rem;

// Breakpoints
$small: "(min-width: 576px)";
$medium: "(min-width: 768px)";
$large: "(min-width: 1024px)";
$xlarge: "(min-width: 1200px)";
