body.why-us-page {
  background: $gradient-black-to-white;
  color: $text-p-dark;
  font-family: $font-body;
}

//intro section

.nojo-founders {
  display: flex;
  flex-direction: row;
  align-items: center;

  .founder {
    width: 100%;
    height: 100%; /* Adjust to your desired height */
    overflow: hidden;

    .portrait-leonor {
      width: 100%;
      max-width: 800px;
      height: auto;
      object-fit: cover; /* Ensures the image covers the container without distorting */
      mix-blend-mode: luminosity;
    }

    .portrait-joao {
     width: 100%;
      max-width: 800px;
      height: auto;
      object-fit: cover; /* Ensures the image covers the container without distorting */
      mix-blend-mode: luminosity;
    }
  }
}

//about us section
.about-creators {

  .description {
  width: 70%;
}

img {
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container without distorting */
  mix-blend-mode: luminosity;

}

}

//Why trust us section
/* h2 {
    font-family: $font-body;
    font-size: $font-size-xs;
    font-weight: 400;
    color: $text-h-dark;

    .highlight {
      font-family: $font-heading;
      font-size: $font-size-lg;
      display: block;
    }
 } */

  .trust-nojo {
  padding: 4rem 2rem;
  text-align: center;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Always 2 columns
    grid-template-rows: repeat(2, auto);   // 2 rows
    gap: 2rem 3rem;
    max-width: 900px;
    margin: 2rem auto 0;
    padding: 0;
    list-style: none;

    li {
      font-size: $font-size-xs;
      color: $text-p-dark;

      strong {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    }
  }
  @media ($medium) {
    ul {
      grid-template-columns: repeat(2, 1fr); // 2 columns on medium screens
    }
  }
  @media ($large) {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
